/*Geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

.container{
    display: flex;
    justify-content: center;
}


/*container desb. cartao*/
.container-cartao{
    display: flex;
    width: 750px;
    height: 400px;
    border-radius: 5px;
    background-color: #0A5F55;
}

/*principal*/
.main{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1vh;
}


.titulo{
    margin-bottom: 5vh;
    color: #B1D34B;
    font-size: 2.5em;
    font-family: 'UnimedSlab2020-Bd';
}

.titulo span{
    color: #fff;
}


#container-cpf{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(/assets/img/Linhas.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 450px;
    height: 200px;
}

/*desbloqueado*/

.result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 420px;
    height: 170px;
    border-radius: 20px;
    position: absolute;
}

.p-result{
    color: #0A5F55;
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'UnimedSans2020-Bd';
}

.txt-result{
    color: #0A5F55;
    font-family: 'UnimedSans2020-Rg';
}

/*form-cpf*/

.txt-digite-cpf{
    font-weight: bold;
}

.txt-clique-enviar{
    font-weight: bold;
}

p{
    color: #fff;
    display: inline;
}

.input-cartao{ 
    margin: 20px 0;
    -moz-appearance: textfield;
     appearance: textfield;
     width: 390px;
     height: 35px;
     border-radius: 5px;
     text-align: center;
     font-size: 1.5rem;
     letter-spacing: 2px;
}

.input-cpf:focus{
    outline: none;
}

.input-desbloquear{
    background-color: #B1D34B;  
    border-radius: 5px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
    color: #0A5F55;
}

.input-desbloquear:hover{
    background-color: #98c415c9;
}

/*imagem celular*/

.img-cell{
    display: flex;
    background-image: url(/assets/img/Celular@2x.png);
    background-repeat: no-repeat;
    background-size: 230px;
    width: 250px;
    height: 450px;
}
